<!doctype html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div>
        <h3>Удалить  заказ</h3>
        <div>
            <form method="post" action="~/Home/DeleteOrders">
                <label>Удалить по Id:</label></br>
                <input type="number" name="number"></br>
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
</body>   
</html>