@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>
<head>
    <title>Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div>
        <h3>Создать заказ:</h3>
        <div>
            <form method="post" action="~/Home/CreateOrders">
                <label>Ваше имя:</label></br>
                <input type="text" name="name"></br>

                <label>Название заказа:</label></br>
                <input type="text" name="nameorders"></br>

                <label>Цена:</label></br>
                <input type="number" name="price"></br>

                <label>Количество:</label></br>
                <input type="number" name="quantity"></br>  

                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</body>
</html>
